<h2>Create Post</h2>
<%= form_with model: Post do |f| %>
  <div class="form-group">
    <label for="title">Title</label>
    <%= f.text_field :title, class: "form-control" %>
    <label for="body">Body</label>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.submit 'Create Post', class: "btn btn-primary mt-2" %>
  </div>
<% end %>